@import "btnConfig";
@import "utilities";
@import "config";


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  background-color: $primary-color;
  font-family: $font-stack;
  line-height: 1;
}

img {
  border-radius: 10%;
  width: 35%;
}

a {
  text-decoration: none;
}

.location_dropdown {
  height: 200px;
  overflow: overlay;
}

.location_dropdown_button {
  width: 10em;
}

.App {

  body {
    background-color: $primary-color;
    font-family: $font-stack;
    line-height: 1;
  }
 
  @include set-bg($primary-color);
  // height: 600px;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;

    ul {
      display: flex;
      list-style-type: none;
      background-color: $light-color;
    }

    li {
      padding: 15px;
      background-color: $light-color;
    }

    a {
      color: text-color-picker($primary-color);
    }

    a:hover {
      color: $hover-color;
    }
  }

  &-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

    h1 {
      font-size: 50px;
      line-height: 1.2;
    }
  }
}


$spaceamounts: (1,2,3,4,5);

@each $space in $spaceamounts {
  .m-#{$space} {
    margin: #{$space}rem;
  }
  .my-#{$space} {
    margin: #{$space}rem 0;
  }

  .p-#{$space} {
    padding: #{$space}rem;
  }
  .py-#{$space} {
    padding: #{$space}rem 0;
  }
}
