#landscaping {
    position: relative;
    top: 6em;
    right: 0em;
}
#homecleaning {
    position: relative;
    top: 2em;
    right: 5em;
}
#petcare {
    position: relative;
    top: 6em;
    right: 13em;
}
#moving {
    position: relative;
    left: 40em;
    top: -10em;
}
h2,
img {
    display: inline-block;
}
.categoryText {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: white;
}
#landscapingText {
    position: relative;
    top: 5.5em;
    right: 8em;
}
#homeCleaningText {
    position: relative;
    top: 3em;
    right: 11.5em;
}
#PetCareText {
    position: relative;
    top: 5em;
    right: 15em;
}
#HelpMovingText {
    position: relative;
    left: 12em;
    bottom: 2.7em;
}
.Title {
    font-size: 2.4em;
    position: relative;
    right: 15em;
    bottom: 1em;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}